.blog-container {
    width: 100%;
    height: auto;
}
.blog-news {
    padding: 120px 90px;
    max-width: 1450px;
    margin: 0 auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax( 500px,1fr));
    grid-column-gap: 100px;
    grid-gap: 100px;
}
.blog-news .news_container {
    width: 100%;
}

.blogpage-hero {
    width: 100%;
    height: 350px;
    position: relative;
}
.blogpage-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogpage-hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog-news .button-two {
    background: white;
    padding:  0;
    padding: 10px 0;
    width: max-content;
}
.blog-news .news-auth-icon {
    color: #7EB693;
}

@media screen and (max-width:900px) {
    .blog-news {
        grid-template-columns: repeat(auto-fit, minmax( 400px,1fr));
        padding: 120px 50px;
    }
}
@media screen and (max-width:600px) {
    .blog-news {
        grid-template-columns: repeat(auto-fit, minmax( 300px,1fr));
        padding: 120px 20px;
    }
}
@media screen and (max-width:400px) {
    .blog-news {
        grid-template-columns: repeat(auto-fit, minmax( 250px,1fr));
        padding: 120px 15px;
    }
}