.team-container {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background: var(--color-five);
    border-radius: 30px;
    transition: 0.5s all;
    overflow: hidden;
}
.team-container img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.team-detail {
    padding: 0 25px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.team-role-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-link {
    display: flex;
    gap: 5px;
    color: var(--color-one);
}
.team-detail .curly-text {
    font-weight: bold;
}
.team-container:hover {
    background: white;
    box-shadow: rgba(78, 78, 78, 0.171) 0 30px 30px;
}