.navbar-container {
    width: 100%;
    padding:30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    
}
 .sticky {
    padding: 20px 50px;
    position: fixed;
    top: 0;
    z-index: 5;
    transition: all 0.4s;
}

.navbar-logo a {
    font-size: 40px;
    align-items: center;
    display: flex;
    gap: 5px;
}
.navbar-logo a img {
    width: auto;
    height: 50px;
}
.navbar-menus ul {
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: space-between;
}
.navbar-search_cart {
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar-search {
    position: relative;
}
.navbar-search input {
    border: none;
    background: var(--color-five);
    padding: 15px;
    border-radius: 30px;
    width: 270px;
    outline: none;
}
.search_icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    align-items: center;
    background: var(--color-two);
    border-radius: 50%;
    color: white;
    width: auto;
    height: 100%;
}

.navbar-search input:focus {
    border: 0.5px solid rgba(0, 0, 0, 0.142);
}
.navbar-cart {
    width: 118px;
}
.navbar-cart a {
    padding: 15px;
    width: 100%;
    position: relative;
    border: none;
    background: white;
    border: 0.5px solid rgba(0, 0, 0, 0.142);
    border-radius: 30px;  
    cursor: pointer; 
}
.navbar-cart a span {
    margin-left: 45px;
}
.cart_icon {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    align-items: center;
    background: var(--color-one);
    border-radius: 50%;
    color: white;
    width: auto;
    height: 100%;
}
#pages {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.pages-link {
    position: relative;
}
.pages-link ul {
    position: absolute;
    flex-direction: column;
    gap: 20px;
    left: -15px;
    z-index: 10;
    padding: 15px 30px;
    background: white;
    width: max-content;
    display: none;
    border-radius: 10px;
    animation:  links 0.6s;
}
.pages-link:hover  .links {
    display: flex;
    box-shadow: rgba(34, 33, 33, 0.16) 0px 5px 10px;
}
@keyframes links {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.navbar-mobiemenu{
    display: none;
}
.mobile-menu-icon {
    cursor: pointer;
}
.navbar-menus.show_mobile {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 11;
    background: rgba(0, 0, 0, 0.075);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.navbar-menus.show_mobile ul {
    height: 100%;
    padding: 100px 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width:400px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.116) 0 10px 10px;
}
.navbar-menus.show_mobile ul li {
    width: 100%;
}
.navbar-menus.show_mobile ul .links {
   display: none;
}
 .mobile-menu-close {
    position: fixed;
    z-index: 13;
    top: 40px;
    right: 40px;
    color: white;
    cursor: pointer;
    display: none;
}
@media screen and (max-width : 1200px) {
    .navbar-menus ul {
    gap: 25px;

    }
    .navbar-container {
        padding:30px 40px;
    }
    .navbar-search input{
       display: none;
    }
    .search_icon {
        color: rgb(255, 255, 255);
    }
    .navbar-search {
        width: 50px;
        z-index: 10;
        height: 50px;
    }
}

@media screen and (max-width : 1000px) {
    .navbar-cart {
        width: 100%;
    }
    .navbar-cart a span {
        display: none;
    }
    .navbar-menus {
        display: none;
    }
    .mobile-menu-close {
        display: block;
    }
    .navbar-menus ul {
    gap: 25px;
    }
    .navbar-search_cart {
        gap: 10px;
    }
    .navbar-mobiemenu {
        display: block;
    }

}
@media screen and (max-width : 600px) {
    .cart_icon {
        height: 90%;
    }
    .search_icon {
        height: 90%;
    }
    .navbar-logo p {
        font-size: 25px;
    }
    .navbar-container {
        padding:20px 20px;
    }
}