.shopdetail-wrapper {
    padding: 100px 100px 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 1400px;
    margin: 0 auto;
}
.shopdetail-additional {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.additional-btns {
    display: flex;
    align-items: center;
    gap: 15px;
}
.additional-btns .button-two {
    background: #7eb69348;
}
.shopdetail-additional .text {
    text-align: center;
    width: 70%;
}
.shopdetail-related {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.related-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 15px;
    grid-gap: 30px;
}
@media screen and (max-width:1000px) {
    .shopdetail-wrapper {
        padding: 100px 50px ;
    }
}
@media screen and (max-width:600px) {
    .shopdetail-wrapper {
        padding: 100px 20px ;
    }
    .additional-btns {
        flex-direction: column;
    }
}