.news_container {
    height: 450px;
    width: 45%;
    background: red;
    border-radius: 25px;
    position: relative;
}
.news_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:30px;
}
.news_container .news-content {
    position: absolute;
    width: 80%;
    background: white;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 30px;
    box-shadow: rgba(36, 34, 34, 0.199) 0 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}