* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --color-one:#274c5b;
  --color-two:#7EB693;
  --color-three:#fff38a;
  --color-four:#d4d4d4;
  --color-five:#f9f8f8;
  --color-six:#eff6f1;
  --color-seven:#525c60c5;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  color: var(--color-one);
  font-size: 18px;
}
li {
  list-style: none;
}
.quote {
  width: 100%;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  text-align: center;
  padding: 50px;
  color: var(--color-one);
  background-color: var(--color-five);
}
.button-one {
  font-weight: bold;
  text-align: center;
  width: 180px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: var(--color-six);
  background: var(--color-one);
}
.button-two {
  font-weight: bold;
  text-align: center;
  width: 180px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: var(--color-one);
  background: var(--color-three);
}
.button-three {
  font-weight: bold;
  text-align: center;
  width: 180px;
  border: 1px solid var(--color-one);
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: none;
  color: var(--color-one);
}
.button-four {
  text-align: center;
  width: 180px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: var(--color-six);
  background: var(--color-one);
  font-weight: bold;
}

.curly-text {
  font-family: "Pacifico", cursive;
  font-weight: 200;
  font-style: light;
  color: var(--color-two);
  text-transform: capitalize;
  font-size: 22px;
}
h1 , h2, h3, h4, h5, h6{
  color: var(--color-one);
  font-weight: bold;
}
h1 {
  font-size: 65px;
  line-height: 1.2;
}
h2 {
  font-size: 43px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.text {
  color: var(--color-seven);
  font-weight: 16px;
  line-height: 25px;
}